body {
  margin: 0;
  font-family: 'roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

code {
  font-family: 'roboto';
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  min-height: 100vh;
}

.note.new {
  padding-top: 10px;
  margin-top: 30px;
  width: 500px;
  padding-left: 30px;

}

.header-notenew{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vh;
  margin-bottom: 30px;  
}
.header-noteupdate{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vh;
  margin-bottom: 30px;
  padding-left: 30px;
}

.select-newnote{
  height: 34px;
  font-size: 20px;
  background-color: #F4F4F4;
  width: 50vh;
  border: none;
}

.title-field {
  background-color: #F4F4F4;
  width: 50vh;
  height: 30px;
  font-size: 18px;
  border-radius: 5px;
  margin-right: 10px;
}
.description-field{
  background-color: #F4F4F4;
  width: 49vh;
  font-size: 18px;
  height: 300px;
  border-radius: 5px;
  
}

.cancel {
  color: #2196F3;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}


.save{
  color: #2196F3;
  background-color: transparent;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.save:hover {
  color: #4dabf8;
  transform: scale(110%);
  transition: all 0.2s ease-in;
}

textarea {
  border: none;
  resize: none;
  background-color: #F4F4F4;
}

textarea:focus{
  outline: none;
}



.home, .work, .personal {
  border-radius: 10px;
  padding: 1rem;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  color: #fff;
}

.home{
  background-color: #FF9100;
  color: #FFE9CC;
}

.work{
  background-color: #818CCE;
  color: #DEE1F2;
}

.personal{
  background-color: #66BB6A;
  color: #E0F1E1;
}


.note-footer {
  display: flex;
  align-items: center;
  position: relative;
  top: 10px;
  right: -85%;

}

.note-footer-create {
  display: flex;
  align-items: center;
  position: relative;
  top: 10px;
  right: -165%;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.delete-icon {
  cursor: pointer;
}

.search{
  display: flex;
  align-items: center;
  background-color: rgb(253,253,253);
  border-radius: 1px;
  padding: 5px;
  margin-bottom: 1.5em;
  min-height: 30px;
  box-shadow: 5px 5px 10px rgb(204, 204, 204);
  margin-top: 80px;
}

.search input {
  width: 1000px;
  border: none;
  background-color: rgb(253,253,253);
}

.search input:focus{
  outline: none;
}

.update-note {
  background-color: #F4F4F4;
  width: 49vh;
  font-size: 18px;
  height: 300px;
  border-radius: 5px;
}

.buttons-header{
  display: flex;
  align-items: center;
}

.home-ball{
  width: 5px;
  height: 5px;
  background-color: #FF9100;
  border-radius: 50%;
  position: relative;
  top: -37px;
  right: -45px;
}

.work-ball {
  width: 5px;
  height: 5px;
  background-color: #5C6BC0;
  border-radius: 50%;
  position: relative;
  top: -37px;
  right: -45px; 
}

.personal-ball {
  width: 5px;
  height: 5px;
  background-color: #66BB6A;
  border-radius: 50%;
  position: relative;
  top: -37px;
  right: -45px; 
}


.all-btn, .home-btn, .work-btn, .personal-btn, .open {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  height: 2.5rem;
  width: 6rem;
  margin-bottom: 30px;
  align-items: center;
}

.home-btn, .work-btn, .personal-btn{
  color: #808080;
  background-color: transparent;
  font-size: 16px;
}

.all-btn{
  background-color: #69BCFF;
  color: #fff;
}

.open {
  position: relative;
  margin-left: auto;
  background-color: #2196F3;
  box-shadow: 5px 5px 10px rgb(204, 204, 204);
  color: #fff;
  width: 8rem;
}

.all-btn, .home-btn, .work-btn, .personal-btn {
  margin-right: 10px;
}

.note-header {
  display: flex;
  align-items: center;
}

.title-header{
  font-size: 25px;
  margin-right: auto;
  margin-left: -10px;
  color: #FFFFFF;
}

.description-field-update{
  padding-left: 30px;
}

.note-new-update{
   padding-top: 10px;
  margin-top: 30px;
  width: 500px;
  padding-left: 30px;
}

.update-container{
  padding-top: 30px;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  cursor: pointer;
  padding: 5px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.progressbar {
  padding-bottom: 30px;
}

.progressbar h2{
  font-size: 18px;
  color: #626262;
}